In [ ]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv('/content/convertcsv.csv')
df.head()

,_key,DSA,OOPs,Databases,Web Development,CGPA,Work_Exp,Backlog,Certificates
0,Charles,1,4,4,5,8.0,4,1,0
1,Adam,5,5,5,5,8.0,5,0,5
2,Rose,1,2,5,4,10.0,2,1,4
3,Sally,1,3,2,4,9.0,4,1,2
4,Stephen,4,5,4,3,8.0,0,0,4

In [28]:
to_drop = ['Certificates']

df.drop(to_drop, inplace=True, axis=1)

In [29]:
df.head()

      _key  DSA  OOPs  Databases  Web Development  CGPA  Work_Exp  Backlog
0  Charles    1     4          4                5   8.0         4        1
1     Adam    5     5          5                5   8.0         5        0
2     Rose    1     2          5                4  10.0         2        1
3    Sally    1     3          2                4   9.0         4        1
4  Stephen    4     5          4                3   8.0         0        0

In [31]:
df.isnull()

      _key    DSA   OOPs  Databases  Web Development   CGPA  Work_Exp  Backlog
0    False  False  False      False            False  False     False    False
1    False  False  False      False            False  False     False    False
2    False  False  False      False            False  False     False    False
3    False  False  False      False            False  False     False    False
4    False  False  False      False            False  False     False    False
..     ...    ...    ...        ...              ...    ...       ...      ...
159  False  False  False      False            False  False     False    False
160  False  False  False      False            False  False     False    False
161  False  False  False      False            False  False     False    False
162  False  False  False      False            False  False     False    False
163  False  False  False      False            False  False     False    False

[164 rows x 8 columns]

In [32]:
df.isnull().sum()

_key               0
DSA                0
OOPs               0
Databases          0
Web Development    0
CGPA               1
Work_Exp           0
Backlog            0
dtype: int64

In [33]:
df['CGPA']=df['CGPA'].fillna('7')

In [34]:
df.isnull().sum()

_key               0
DSA                0
OOPs               0
Databases          0
Web Development    0
CGPA               0
Work_Exp           0
Backlog            0
dtype: int64

In [35]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
159    False
160    False
161    False
162    False
163    False
Length: 164, dtype: bool

In [36]:
df.head()

      _key  DSA  OOPs  Databases  Web Development  CGPA  Work_Exp  Backlog
0  Charles    1     4          4                5   8.0         4        1
1     Adam    5     5          5                5   8.0         5        0
2     Rose    1     2          5                4  10.0         2        1
3    Sally    1     3          2                4   9.0         4        1
4  Stephen    4     5          4                3   8.0         0        0